.btn{
	color:Black;
    border-radius:40px;
    border: 0;
    font-size: 3rem;
    font-weight: 600;
    margin: 1rem 0;
    padding: 2rem 3rem;
    text-transform: uppercase;
    white-space: nowrap;
}
.btn--primary{
	background: darkred;
    color: white;
}
.btn--primary:hover{
    background: red;
}
.btn--secondary{
background: black;
    color: white;
}
    .btn--secondary:hover{
	background: grey;
}
.btn--accent{
    background: darkred;
    color:white;
}
.btn--accent:hover{
    background:red;
}
.btn--outline{
    background: #fff;
        color: black;
    border: 2px solid black;
}
.btn--outline:hover{
    background: black;
    color: #fff;
}
.btn--block{
    width: 100%;
        display: inline-block;
}
/* Media query is when screen is getting larger than 1024px*/
@media screen and (min-width:1024px) {
.btn{
font-size: 1.5rem;

}
}
img{
    width:800px;
	 height:400px;
    margin:1px auto;
    display:block;
}
h1{
	Text-Align:Center;
	color:White;
    border-radius:1px;
    font-size: 3rem;
    font-weight: 600;
    margin: 1rem 0;
    padding: 2rem 3rem;
    text-transform: uppercase;
    
}
#Title{
	background-color:Black;
}
img{
    height:300px;
	width:300px;
}
.all{
background-color:black;
color:Black;
    border-radius:40px;
    border: 0;
    font-size: 3rem;
    font-weight: 600;
    margin: 1rem 0;
    padding: 2rem 3rem;
    text-transform: uppercase;
    white-space: nowrap;
}